In [ ]:
# default_exp zscore

# zscore

This module can be used to calculate enrichment z-scores from pre- and post-selection '.csv' files containing read counts

> API details

In [ ]:
#hide
from nbdev.showdoc import *
from pathlib import Path
import pandas as pd

In [ ]:
# STEPS TO IMPLEMENT

#make a dataframe from each input csv
    # same func for pos and neg?
    # 
#read in library sizes from separate .csv
#calculate ratio of neg and pos lib sizes to use in Zscore calc
    # one func to do both

neg_counts_csv = Path.cwd()/'tests/test-selection-pre-in.csv'
pos_counts_csv = Path.cwd()/'tests/test-selection-post-in.csv'
zscore_csv = Path.cwd()/'tests/test-selection-zscore-out.csv'
    
def calc_enrichment_zscores(input_neg_file, input_pos_file, input_libsize_file, output_file):
    df_neg = read_count_csv(input_neg_file)
    df_pos = read_count_csv(input_pos_file)
    print(df_neg.head())
    print(df_pos.head())
    df_enrichment = build_enrichment_df(df_neg, df_pos)
    print(df_enrichment.head)
    
    
    
def read_count_csv(input_file) -> pd.core.frame.DataFrame:
    df_count = pd.read_csv(input_file,
                        index_col = 0,
                        dtype = {'seq_name': str, 'count': int, 'seq': str, 'seqZ': str})
    return df_count 


def build_enrichment_df(df_neg, df_pos):
    df_pos.rename(columns = {'count': 'pos_count'}, inplace = True)
    df_neg.rename(columns = {'count': 'neg_count'}, inplace = True)
    
    df_neg_cols_to_merge = df_neg[['neg_count','seq']]
    
    df_enrichment = pd.merge(df_pos, df_neg_cols_to_merge, on="seq", how = "left")
    df_enrichment['neg_count'] = df_enrichment['neg_count'].fillna(0)   
    
    
    #with additional neg_counts, enrichment, zscore columns.
    return df_enrichment

def read_libsize_csv(input_libsize_file):
    return
    #read csv and return libsizes as two ints

#make a dataframe to hold the combined counts, the raw enrichment ratio and the final zscore
#copy all pos dataframe data into the combined df

#loop over neg dataframe and add counts to

In [ ]:
calc_enrichment_zscores(neg_counts_csv, pos_counts_csv, zscore_csv, zscore_csv)

  seq_name  count   seq    seqZ
0      123      2   CCC   ZCCCZ
1   128378      3  CCAC  ZCCACZ
2      18b      1   DYT   ZDYTZ
3      b00     10   DDK   ZDDKZ
  seq_name  count   seq    seqZ
0      123     10   CCC   ZCCCZ
1   128378      2  CCAC  ZCCACZ
2      14a      5   CDK   ZCDKZ
<bound method NDFrame.head of   seq_name  pos_count   seq    seqZ  neg_count
0      123         10   CCC   ZCCCZ        2.0
1   128378          2  CCAC  ZCCACZ        3.0
2      14a          5   CDK   ZCDKZ        0.0>

# Testing

In [ ]:
test_selection_pre_input_csv_path = Path.cwd()/'tests/test-selection-pre-in.csv'
test_selection_post_input_csv_path = Path.cwd()/'tests/test-selection-post-in.csv'

df_test_pre=read_count_csv(test_selection_pre_input_csv_path)
df_test_post=read_count_csv(test_selection_post_input_csv_path)


assert isinstance(df_test_pre, pd.core.frame.DataFrame)
assert df_test_pre['count'][0] == 2
assert df_test_pre['seqZ'][0] == 'ZCCCZ'


assert isinstance(df_test_post, pd.core.frame.DataFrame)
assert df_test_post['count'][0] == 10
assert df_test_post['seqZ'][0] == 'ZCCCZ'

In [ ]:
merged = df_test_pre.combine_first(df_test_post)

In [ ]:
df_merge = pd.merge(df_test_post, df_test_pre[['count','seq']], on="seq", how = "left")

In [ ]:
df_test_pre[['count','seq']]

   count   seq
0      2   CCC
1      3  CCAC
2      1   DYT
3     10   DDK

In [ ]:
df_merge

  seq_name  count_x   seq    seqZ  count_y
0      123       10   CCC   ZCCCZ      2.0
1   128378        2  CCAC  ZCCACZ      3.0
2      14a        5   CDK   ZCDKZ      NaN